<!-- conscious_consumer/budget/templates/partials/common-goal-detail.html -->
<!-- Information about Goal -->
<div class="card border-info mb-3">
    <h3 class="card-header border-primary">
      {{ goal.title }}
    </h3>
    <div class="card-body border-dark">
        <p class="card-text text-dark">
            <ul>
                <!-- Goal Overview -->
                <li>{{ goal.description }}/li>
            </ul>
        </p>
        <hr>
        <div class="text-right">
            <a href="{% url 'budget:goal_detail_public' goal.slug %}" title="See More">See More</a>
        </div>
    </div>
    <div class="card-footer row">
        <small class="text-muted mr-auto">Last Modified:{{ goal.modified|date:"SHORT_DATETIME_FORMAT" }}</small>
        <small>Posted by: {{ goal.author }}</small>
    </div>
</div>

<!-- Comments about Goal -->
