<!-- conscious_consumer/budget/templates/partials/common-goal-detail.html -->
<!-- Information about Goal -->
<div class="card border-info mb-3">
    <div class="card-header border-primary">
        <h3 class="">
          {{ goal.title }}
        </h3>
        <div class="row">
            <small class="text-muted ml-3 mr-auto">Created :{{ goal.created|date:"SHORT_DATETIME_FORMAT" }}</small>
            <small class="text-muted">Last Modified:{{ goal.modified|date:"SHORT_DATETIME_FORMAT" }}</small>
        </div>
    </div>
    <div class="card-body border-dark">
        <p class="card-text text-dark">
            <ul>
                <!-- Goal Overview -->
                <li><strong>Target:</strong> {{ goal.monthly_target }} tons per mo.</li>
                <li><strong>Description:</strong> {{ goal.description }}/li>
            </ul>
        </p>
        <hr>
    </div>
    <div class="card-footer">
        <div class="row">
            <small class="text-muted ml-3 mr-auto"> Category: {{ goal.category }}</small>
            <small>Posted by: {{ goal.author }}</small>
        </div>
    </div>
</div>

<!-- Comments about Goal -->
