<!-- conscious_consumer/budget/templates/partials/doughnut-chart.html -->

<!-- jQuery and Ajax needed for Chart.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

<!-- Chart Making Script -->
<script>
    $(document).ready(function(){
        // get the data on the TimeStep from the API, using AJAX
        let endpoint = '/api/{{goal.id}}/chart/data/'
        let plotData = []
        let plotLabels = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                plotData = data.values
                plotLabels = data.labels
                doughnutChart()
            },
            error: function(error_data){
                console.log(error_data)
            }
        })
        // make bar chart
        function doughnutChart() {
            let ctx = document.getElementById('doughnutChart').getContext('2d');
            let doughnutChart = new Chart(ctx, {
            type: "doughnut",
            data: {
                datasets: [{
                    label: '# of Months',
                    data: plotData,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1
                }],
                labels: plotLabels
            },});
        }
    })
</script>
