<!-- conscious_consumer/budget/templates/budget/partials/personal-goal-summary.html -->
<div class="card border-info mt-1 mb-3">
    <h3 class="card-header border-primary mb-3">
      {{ goal.title }}
    </h3>
    <div class="card-body border-dark">
        <p class="card-text text-dark">
            <ul>
                <!-- Goal Overview -->
                <li>{{ goal.description }}</li>
                {% if goal.achievements %}
                    <li><strong>Achievements: {{ goal.achievements }}</strong></li>
                {% endif %}
                {% if goal.fails %}
                    <li><strong>Missed Months: {{ goal.fails }}</strong></li>
                {% endif %}
            </ul>
        </p>
        <hr>
        <div class="text-right">
            {% if user.is_authenticated %}
                <a href="{% url 'budget:goal_detail_personal' user.id goal.slug %}" title="See More">See More</a>
            {% endif %}
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <small class="text-muted mr-auto">Last Modified:{{ goal.modified|date:"SHORT_DATETIME_FORMAT" }}</small>
            <small>Posted by: {{ goal.author }}</small>
        </div>
    </div>
</div>
