<!-- conscious_consumer/templates/partials/footer.html -->
<hr>
<footer id="footer">
    <div>
        <p class="ml-3">&copy; 2020 Conscious Consumer Inc.</p>
    </div>
    <div class="row">
        <p class="ml-5">  Logo icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div class="row">
        <p class="ml-5">
            <a href="https://icons8.com/icons/set/user">
                User profile icon</a> made by
            <a href="https://icons8.com">
                Icons8
            </a>.
        </p>
    </div>
    <div class="row">
        <p class="ml-5">Products found through
            <a href="https://github.com/philsturgeon/awesome-earth#footprint-calculators">
                Phil Sturgeon's Awesome Earth
            </a>open-source project on GitHub.
        </p>
    </div>
</footer>
