<!-- conscious_consumer/budget/templates/budget/goal/delete.html -->
{% extends "base.html" %}

{% block content %}
<h1>Delete Goal</h1>
<!-- Message for User -->
<h2>Wait, <i>what?</i> You're Not Giving Up Are You?</h2>
<p><strong>"Winners don't quit and quitters don't win"</strong> - <i>Vince Lombardi, NFL Coach and 5-time Super Bowl champion</i></p>
<!-- Deletion form -->
<h3>This action <strong>cannot</strong> be undone. Here is what will be deleted:</h3>
{% include 'partials/goal-summary.html' %}

<h3>Are you sure you would like to continue?</h3>
{% include 'partials/form.html' %}

{% endblock %}
