<!-- conscious_consumer/budget/templates/budget/goal/detail-personal.html -->
{% extends "base.html" %}

{% block content %}
<!-- Show Goal Information (and comments if any) -->
{% include 'partials/common-goal-detail.html' %}
<!-- Display Goal Analytics -->
<!-- Links to All Personal Goals, Update, and Delete -->
<a href="#" class="btn btn-primary">Back to All Personal Goals</a>
<a href="{% url 'budget:goal_update' goal.slug %}" class="btn">Edit Goal</a>
<a href="{% url 'budget:goal_delete' goal.slug %}" class="btn">Delete Goal</a>
{% endblock %}
