<!-- conscious_consumer/budget/templates/budget/goal/update.html -->
{% extends "base.html" %}

{% block content %}
<h1>Change a Goal</h1>
<!-- Motivation to User -->
<h3>We encourage change!</h3>
<p>
    <ul>Please modify your goals if you fall in either of the following two scenarios:
        <li>
            You're crushing it so far! And now you feel ready for a greater challenge 👏
        </li>
        <li>
            You've had some issues, and feel this is a good way to step back for a moment before moving on. 👍
        </li>
    </ul>
</p>
<!-- Update Form -->
<h3>Edit your Goal Below</h3>
{% include 'partials/form.html' %}
    {% if user.is_authenticated %}
        <a href="{% url 'budget:goal_detail_personal' user.id goal.slug %}" class="mt-2 btn btn-info">Back to Goal Page</a>
    {% endif %}

<!-- Motivational Quote -->
<div class="row mt-2">
    <p><strong>"Your life does not get better by chance, it gets better by change."</strong> - Jim Rohn, <i>author and motivational speaker</i></p>
</div>

{% endblock %}
