<!-- conscious_consumer/budget/templates/budget/goal/update.html -->
{% extends "base.html" %}

{% block content %}
<h1>Change a Goal</h1>
<!-- Motivation to User -->
<p>
    <strong>We encourage change!</strong>
    <ul>Please modify your goals if you fall in either of the following two scenarios:
        <li>
            You're crushing it so far! And now you feel ready for a greater challenge 👏
        </li>
        <li>
            You've had some issues, and feel this is a good way to step back for a moment before moving on. 👍
        </li>
    </ul>
</p>
<!-- Update Form -->
<h2>Edit your Goal Below</h2>
{% include 'partials/form.html' %}

{% endblock %}
