<!-- conscious_consumer/accounts/templates/accounts/profile/detail.html -->
{% extends "base.html" %}

{% block content %}
    <!-- if user has just changed password -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-success"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <!-- display account information -->
    <div class="row">
        <div class="col-md-6">
            <!-- Greeting -->
            <h1 class="mb-4">Account Details</h1>
            <!-- User Info -->
            <div class="row">
                <h2 class="ml-3 mr-3">Profile Information:</h2>
            </div>
            <div class="row">
                <ul>
                    <li>Username: {{ user.username }}</li>
                    <li>Email: {{ user.email }}</li>
                </ul>
            </div>
            <!-- Links to Other Pages -->
            <div class="row ml-2">
                <h3>Options</h3>
            </div>
            <div class="row ml-2">
                <div class="col-md-6">
                    <a href="{% url 'accounts:password_change' %}" class="btn btn-info mb-2">Change Password</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'budget:goal_list_personal' user.id %}" class="btn btn-outline-info mr-5 mb-3">Personal Goals</a>
                </div>
            </div>
            <div class="row ml-2">
                <div class="col-md-6">
                    <a href="{% url 'accounts:profile_delete' user.id %}" class="btn btn-danger mb-2">Delete Account</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'accounts:logout' %}" class="btn btn-outline-danger">Log Out</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Profile Image -->
            <div class="row justify-content-center">
                <img class="mb-3" src="{{ profile.mugshot.url }}" alt="Profile image" height=400px width=400px>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="{% url 'accounts:change_image' user.profile.id %}" class="btn btn-outline-secondary mr-2 mb-3">Upload Image</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}
