<!-- conscious_consumer/accounts/templates/accounts/profile/detail.html -->
{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <!-- Greeting -->
            <h1 class="mb-4">Account Details</h1>
            <!-- User Info -->
            <div class="row">
                <h2 class="ml-3 mr-3">Profile Information:</h2>
                <ul>
                    <li>Username: {{ user.username }}</li>
                    <li>Email: {{ user.email }}</li>
                </ul>
            </div>
            <!-- Links to Other Pages -->
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="btn btn-info mb-2">Update Account</a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-outline-secondary mr-2 mb-3">Upload Image</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="btn btn-info mb-2">Change Password</a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-outline-info mr-5 mb-3">See Goals</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="btn btn-danger mb-2">Delete Account</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'accounts:logout' %}" class="btn btn-outline-danger">Log Out</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Profile Image -->
            <div class="row">
                <img src="{{ profile.mugshot.url }}" alt="Profile image" height=400px width=400px>
            </div>
        </div>
    </div>
{% endblock %}
