<!-- conscious_consumer/store/templates/store/product/detail.html -->
{% extends "base.html" %}

{% block content %}

    <!-- Title -->
    <div class="row">
        <h1>{{ product.title }}</h1>
        <p class="ml-auto text-muted">Posted by: {{ product.seller }}</p>
    </div>
    <!-- Info -->
    <div class="row">
        <!--Image -->
        <div class="col-md-6">
            <img src="{{ product.photo.url }}" alt="Product image not being displayed.">
            <!-- Message about image -->
            <div class="mt-2">
                <small><i>Image provided by seller, or question mark if not provided.</i></small>
            </div>
        </div>
        <!-- Description -->
        <div class="col-md-6">
            <h2>Description</h2>
            <p>{{ product.description }}</p>
            <!-- Emissions, Price and Stock -->
            <ul>
                Need-to-Know's:
                <li><strong>Avg. Carbon Emissions</strong>: {{ product.monthly_emission }} metric tons per mo.</li>
                <li><strong>Price</strong>: ${{ product.price }}</li>
                <li><strong>Stock</strong>: {{ product.stock }} units available</li>
            </ul>
            <!-- Pay Now (goes to 3rd Party Site for Now) -->
            <a class="btn btn-success" href="#">Buy Now!</a>
        </div>
    </div>
    <br><br>
    <!-- Links to Other Product Pages -->
    <div class="row">
        <!-- Product Update and Delete Forms -->
        <div class="col-md-6">
            {% if product.seller == user %}
                <a class="btn btn-info" href="{% url 'store:product_update' product.slug %}">Edit Product</a>
                <a class="ml-2 btn btn-danger" href="{% url 'store:product_delete' product.slug %}">Delete Product</a>
            {% endif %}
        </div>
        <br><br>
        <!-- Product List and Create Links -->
        <div class="col-md-6">
            <a href="{% url 'store:product_list' %}" class="btn btn-primary">Back to All Products</a>
            <a href="{% url 'store:product_create' %}" class="btn btn-success">Add Product Listing</a>
        </div>
    </div>

{% endblock %}
